{{ partial "header.html" . }}
{{ $lang := .Site.CurrentLanguage }}

{{ $nextSession := (index .Site.Sections.sessions 0).Page }}
{{ $venueData := $nextSession.Params.venue }}

<section>
  <gomtl-hero class="container">
    <h1>{{ i18n "orgname_long" }}</h1>

    <p>{{ i18n "mission" }}</p>

    <h4>{{ i18n "current_session" }}: <a href="{{ $nextSession.Permalink }}" style="font-weight: bold;">{{ $nextSession.Title }}</a> </h4>
  </gomtl-hero>
</section>

<section>
  <div class="container">
    <h2>{{ i18n "offered_courses" }}</h2>
    <featured-courses>
    {{ range .Site.Sections.sessions }}

      {{ $.Scratch.Set "p" .Page }}
      {{ if ne .Page.Params.session_language nil }}
        {{ $.Scratch.Set "p" (index .Page.Translations .Page.Params.session_language) }}
      {{ end }}
      {{ $pp := ($.Scratch.Get "p").Params }}
      {{ $p := $.Scratch.Get "p" }}

      <paper-card class="session" image="/images/courses/{{ $pp.session.course_image }}">
        <div class="card-content">
          <a href="{{ $p.Permalink }}"><h3 class="course-name">{{ $pp.session.title }}</h3></a>

          <paper-icon-item class="location">
            <iron-icon icon="communication:location-on" item-icon></iron-icon>
            <p class="venue">{{ $pp.venue.name }}</p>
          </paper-icon-item>

          <paper-icon-item class="start-date">
            <iron-icon icon="icons:event" item-icon></iron-icon>
            <p>{{ i18n "starts" }} {{ $pp.session.start_date }}</p>
          </paper-icon-item>
        </div>

        <div class="card-actions">
          <a href="{{ $p.Permalink }}"><paper-button>{{ i18n "details" }}</paper-button></a>
          <a href="{{ $p.Permalink }}"><paper-button>{{ i18n "register" }}</paper-button></a>
        </div>
      </paper-card>

      <paper-card class="session" image="/images/courses/pre-adolescence.jpg">
        <div class="card-content">
          <h4>{{ .Page.Params.venue.name }}</h4>
          <p>McGill Buildling of Engineering.</p>
        </div>
        <div class="card-actions">
          <div>
            Starts January 31st 2017
          </div>

          <paper-button>{{ i18n "details" }}</paper-button>
          <paper-button>{{ i18n "register" }}</paper-button>
        </div>
      </paper-card>

      <paper-card class="session" image="/images/courses/first-steps.jpg">
        <div class="card-content">
          <h4>{{ .Page.Params.venue.name }}</h4>
          <p>McGill Buildling of Engineering.</p>
        </div>
        <div class="card-actions">
          <div>
            Starts January 31st 2016
          </div>

          <paper-button>{{ i18n "details" }}</paper-button>
          <paper-button>{{ i18n "register" }}</paper-button>
        </div>
      </paper-card>

      <paper-card class="session" image="/images/courses/young-professionals.jpg">
        <div class="card-content">
          <h4>{{ .Page.Params.venue.name }}</h4>
          <p>McGill Buildling of Engineering.</p>
        </div>
        <div class="card-actions">
          <div>
            Starts January 31st 2016
          </div>

          <paper-button>Details</paper-button>
          <paper-button>Register</paper-button>
        </div>
      </paper-card>

      <paper-card class="session" heading="{{ .Page.Params.venue.name }}" image="http://placehold.it/350x150/FFC107/000000">
        <div class="card-content">
          McGill Buildling of Engineering.
        </div>
        <div class="card-actions">
          <div>
            Starts January 31st
          </div>

          <paper-button>Details</paper-button>
          <paper-button>Register</paper-button>
        </div>
      </paper-card>

    {{ end }}
    </featured-courses>
  </div>
</section>

<section hero>
  <div class="next-meetup layout horizontal">
    <div class="align-right flex">
      <span>{{ i18n "current_session" }}</span>
    </div>
    <div class="flex next-meetup-pair">
      {{ $nextSession.Title }}
    </div>
  </div>
</section>

<google-map longitude="{{ $venueData.longitude }}"
            latitude="{{ $venueData.latitude }}"
            zoom="{{ $venueData.zoom }}"
            language="{{ $lang }}" style="height: 450px;"
            disable-zoom="true">
  <google-map-marker longitude="{{ $venueData.longitude }}" latitude="{{ $venueData.latitude }}"
                     title="{{ $venueData.name }}" draggable="true">
    <h5>{{ $venueData.name }}</h5>
    <p>{{ $venueData.address }}</p>

  </google-map-marker>
</google-map>

<section hero>
  <gomtl-latest-news class="container">
    <h2 title>{{ i18n "latest_news" }}</h2>

    {{ partial "homepage-latest-news.html" . }}
  </gomtl-latest-news>
</section>

<section class="sponsors">
  <div class="container align-center">

    <h4>{{ i18n "sponsors" }}</h4>

    <div>
      {{ range .Site.Menus.main }}
        {{ if eq .Weight 40 }}
        <a href="{{ .URL }}"><paper-button raised class="primary">{{ i18n "become_a_sponsor" }}</paper-button></a>
        {{ end }}
      {{end}}
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
