{{ partial "header.html" . }}
{{ $lang := .Site.CurrentLanguage }}

{{ $nextSession := (index .Site.Sections.sessions 0).Page }}
{{ $venueData := $nextSession.Params.venue }}

<section>
  <gomtl-hero class="container">
    <h1>{{ i18n "orgname_long" }}</h1>

    <p>{{ i18n "mission" }}</p>

    <h4>{{ i18n "current_session" }}: <a href="{{ $nextSession.Permalink }}" style="font-weight: bold;">{{ $nextSession.Title }}</a> </h4>
  </gomtl-hero>
</section>

<section hero>
  <div class="next-meetup layout horizontal">
    <div class="align-right flex">
      <span>{{ i18n "current_session" }}</span>
    </div>
    <div class="flex next-meetup-pair">
      {{ $nextSession.Title }}
    </div>
  </div>
</section>

<google-map longitude="{{ $venueData.longitude }}"
            latitude="{{ $venueData.latitude }}"
            zoom="{{ $venueData.zoom }}"
            language="{{ $lang }}" style="height: 450px;"
            disable-zoom="true">
  <google-map-marker longitude="{{ $venueData.longitude }}" latitude="{{ $venueData.latitude }}"
                     title="{{ $venueData.name }}" draggable="true">
    <h5>{{ $venueData.name }}</h5>
    <p>{{ $venueData.address }}</p>

  </google-map-marker>
</google-map>

<section hero>
  <gomtl-latest-news class="container">
    <h2 title>{{ i18n "latest_news" }}</h2>

    {{ partial "homepage-latest-news.html" . }}
  </gomtl-latest-news>
</section>

<section class="sponsors">
  <div class="container align-center">

    <h4>{{ i18n "sponsors" }}</h4>

    {{ partial "sponsor.html" (dict "sponsor" "google" "site" .Site ) }}
    {{ partial "sponsor.html" (dict "sponsor" "intel-security" "site" .Site ) }}
    {{ partial "sponsor.html" (dict "sponsor" "shopify" "site" .Site ) }}

    <!-- h4>{{ i18n "partners" }}</h4-->

    <div>
      {{ range .Site.Menus.main }}
        {{ if eq .Weight 40 }}
        <a href="{{ .URL }}"><paper-button raised class="primary">{{ i18n "become_a_sponsor" }}</paper-button></a>
        {{ end }}
      {{end}}
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
