{{ partial "header.html" . }}
{{ $lang := .Site.CurrentLanguage }}

{{ $nextSession := (index .Site.Sections.sessions 0).Page }}
{{ $venueData := $nextSession.Params.venue }}

<section style="background-color: #373b50; padding: 0;">
  <fde-hero class="container" lang="{{$lang}}">
    <p>{{ i18n "mission" }}</p>

    <p><a href="{{ relref . (printf "the-case-method.%s.md" $lang) }}"><paper-button style="background: #f2f7fa" raised>{{ i18n "learn_more_method" }}</paper-button></a></p>

    <p><a href="#offered-courses"><paper-button style="background: #f2f7fa" raised>{{ i18n "see_courses" }}</paper-button></a></p>
  </fde-hero>
</section>

<section>
  <div class="container">
    <h2 id="offered-courses">{{ i18n "offered_courses" }}</h2>
    <featured-courses>
    {{ range .Site.Sections.sessions }}

      {{ $.Scratch.Set "p" .Page }}
      {{ if ne .Page.Params.session_language nil }}
        {{ $.Scratch.Set "p" (index .Page.Translations .Page.Params.session_language) }}
      {{ end }}
      {{ $pp := ($.Scratch.Get "p").Params }}
      {{ $p := $.Scratch.Get "p" }}

      <fde-course image="{{ $pp.session.course_image }}"
                  permalink="{{ $p.Permalink }}"
                  label="{{ $pp.session.title }}"
                  past="{{if $pp.past }}{{i18n "past"}}{{end}}"
                  venue="{{ $pp.venue.name }}"
                  mapslink="{{ $pp.venue.map_link }}"
                  startdate="{{ $pp.session.start_date }}"
                  details="{{ i18n "details" }}"></fde-course>

    {{ end }}
    </featured-courses>
  </div>
</section>

<!-- section hero>
  <div class="next-meetup layout horizontal">
    <div class="align-right flex">
      <span>{{ i18n "current_session" }}</span>
    </div>
    <div class="flex next-meetup-pair">
      {{ $nextSession.Title }}
    </div>
  </div>
</section-->

<section hero>
  <fde-latest-news class="container">
    <h2 title>{{ i18n "latest_news" }}</h2>

    {{ partial "homepage-latest-news.html" . }}
  </fde-latest-news>
</section>

<!-- section class="sponsors">
  <div class="container align-center">

    <h4>{{ i18n "sponsors" }}</h4>

    <div>
      {{ range .Site.Menus.main }}
        {{ if eq .Weight 40 }}
        <a href="{{ .URL }}"><paper-button raised class="primary">{{ i18n "become_a_sponsor" }}</paper-button></a>
        {{ end }}
      {{end}}
    </div>
  </div>
</section-->

{{ partial "footer.html" . }}
