{{ $baseurl := .Site.BaseURL }}
{{ $langPrefix := .Site.LanguagePrefix }}
{{ $p := .Page.params }}

{{ if ne $p.session_language nil }}
<html><head><meta http-equiv="refresh" content="0;url={{ (index .Page.Translations $p.session_language).Permalink }}" /></head></html>
{{ else }}



  {{ partial "header.html" . }}


  <h1>{{ $p.title }}</h1>

  {{ .Page.Content }}

  This course is offered in {{ i18n printf "language_%s" .Site.CurrentLanguage }} and starts <strong>{{ $p.session.start_date }}</strong>.

  <h3>Course schedule</h3>

  insert schedule, properly formatted

  <h3>Time</h3>

  <p>{{ $p.time.from }} &mdash; {{ $p.time.to }}</p>

  <h3>Where</h3>

  <p>
    <address>
      <a href="{{ $p.venue.map_link }}">{{ $p.venue.name }}</a>
      {{ $p.venue.address }}{{ if $p.venue.address2 }}
      {{ $p.venue.address2 }}{{ end }}
    </address>
  </p>

  <!-- Insert Google Maps map -->

  <h3>Cost</h3>

  <p>{{ $p.cost.amount }}$ {{ if $p.cost.per_couple }}per couple{{ else }}per person{{ end }}.</p>

  <h3>Registration and payment</h3>

  <p>Deadline for registration: <strong>{{ $p.registration.deadline }}</strong></p>

  <p>
    Register here and then proceed to payment below.
  </p>

  <p>
    <paper-button>Register now</paper-button>
  </p>

  <h4>Payment</h4>

  <p>After registering, proceed to payment:</p>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick" />Please <a href="http://goo.gl/forms/omc4UywiDR">register here first</a> and then proceed to payment:<br />
<input name="hosted_button_id" type="hidden" value="{{ $p.registration.paypal_item }}" /><br />
<input alt="{{ i18n "pay_with_paypal" }}" name="submit" src="{{ i18n "pay_now" }}" type="image" /><br />
<img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" /></form>

  {{ partial "footer.html" . }}

{{ end }}
